#editorMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#leftBar {
  width: 140px;
  min-width: 140px;
  height: 100%;
}

#toolBar {
  width: 90%;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.toolbarSection {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toolButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.toolButton {
  width: 50px;
}

.title {
  margin-bottom: 3px;
  font-weight: 700;
  text-align: center;
}

.message {
  font-size: 0.8em;
}
